@import url('https://fonts.googleapis.com/css2?family=Poppins&family=sans-serif&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';

}

.footer-section  .row{
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px;
}

.col img{
    height: 200px;
    width: 200px;
    padding-bottom: 20px;
}

.col ul{
    list-style: none;
}
.img-widget{
    display: flex;
    flex-direction: column;
}
.widget p{
    color: darkgrey;
    width: 200px;
}

.widget-title{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', 'sans-serif';
}

.widget-title::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #a30034;
    bottom: -10px;
}
.widget-title:hover{
    cursor: none;
    color: orange;
    transition: 0.5s;
}

.col ul li {
    padding: 5px 0;
    

}

.col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.col ul li a:hover{
    opacity: 1;
    text-decoration: underline;
}

.col  input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.col .inputSubmit{
    padding: 0px  20px;
    background-color: #a30034;
    color: white;
    border: none;
}

.col > p {
    color: white;
}

.row hr{
    opacity: 0.7;
}
.row  .social-icons > a {
    color: white;
    font-size: 24px;
    margin: 0 15px;
   
}

.row  .social-icons > a:hover{
    color: #ffde59;
}

@media (max-width:600px){

    .footer-section > img{
        height: 30px;
        width: 40px;
        padding: 50px;
    }
    
    .footer-section .widget  > p{
        text-align: center;
        padding-bottom: 20px;

        
    }
    


    .footer-section .row{
        flex-direction: column;
        padding: 20px 50px;
    }

    .footer-section .col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-section .col input{
        width: 100%;
    }
}
